<form [formGroup]="formEquipe">

    <div class="form-group">
      <label for="descricao">Descricao</label>
      <input type="text" class="form-control" name="descricao" id="descricao" required>
    </div>
  
  
    <div class="form-group">
      <label for="lider">Lider</label>
      <input class="form-control"  name="lider" id="lider"></input>
    </div>

    
    <div class="form-group">
        <label for="lider2"1º Vice Líder</label>
        <input class="form-control"  name="lider2" id="lider2"></input>
      </div>

      
    <div class="form-group">
        <label for="lider3">2º Vice Lider</label>
        <input class="form-control"  name="lider3" id="lider3"></input>
      </div>
      
    <div class="form-group">
        <label for="secretario">Secretario</label>
        <input type="text" class="form-control"  name="secretario" id="secretario"></input>
      </div>
  
  
    <input type="submit" class="btn btn-primary mt-4" value="Salvar" />
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
  
  </form>
