<div class="container" style="display: flex;flex-direction: row;">
    

            <div *ngFor="let e of equipes; let i = index" class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> {{e.descricao}}</h5>
                  <p class="card-text">Lider:  {{e.lider}}</p>
                  <a href="#" class="btn btn-primary">ver pontuacao</a>
                </div>
              </div>


</div>


